
.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
    height: 346px;
    padding-left: 0;
    padding-right: 0;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-top: 3.5em;
    text-align: center;
}

.build {
    padding-bottom: .7em;
}

.badge {
    color: white;
    margin: .5em;
}