body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.bg-info {
    padding: 8px;
    border-radius: 7px;
    background-color: rgb(208,222,252);
    color: rgb(77,72,158);
    border: 2px solid rgb(231,231,231);
    width: 60%;
    margin: 10px auto;
}

.bg-success {
    padding: 8px;
    border-radius: 7px;
    background-color: rgb(215,242,220);
    color: rgb(73,124,81);
    border: 2px solid rgb(231,231,231);
    width: 60%;
    margin: 10px auto;
}

.bg-warning {
    padding: 8px;
    border-radius: 7px;
    background-color: rgb(253,251,206);
    color: rgb(157,143,72);
    border: 2px solid rgb(231,231,231);
    width: 60%;
    margin: 10px auto;
}

.bg-error {
    padding: 8px;
    border-radius: 7px;
    background-color: rgb(245,212,215);
    color: rgb(127,46,61);
    border: 2px solid rgb(231,231,231);
    width: 60%;
    margin: 10px auto;
}